.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 912px;
  min-width: 375px;
  height: 8rem;
  background-color: #202731;
  border-bottom: 2px solid #00ACB4;
  overflow-Y: hidden;
  z-index: 1;
}
.header__false {
  opacity: 1;
}
.header__true {
  opacity: 0.5;
}
.header__image {
  position: absolute;
  width: 4.5rem;
  left: 0.5rem;
  top: 0.5rem;
}
.header__title {
  color: #c9c9c9;
  text-align: center;
  margin: 0.5rem 0 2.5rem 0;
  font-size: 1.2rem;
  background-color: rgba(77, 79, 86, 0.3);
  padding: 0.3rem 0;
  font-family: "Coming Soon", cursive;
  font-weight: 600;
}
.header__tasks {
  position: relative;
  color: #c9c9c9;
  background-color: rgba(77, 79, 86, 0.3);
  border: 1px solid #787C85;
  padding: 0.3rem 1rem;
  margin: 0 2rem;
  height: 1.7rem;
  text-align: center;
}
.header__tasks--task {
  position: absolute;
  width: 300px;
  top: -1.4rem;
  left: calc(50% - 150px);
  font-size: 1rem;
  font-weight: 300;
  padding: 0rem;
  color: #c9c9c9;
}
.header__tasks--counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.5s linear;
  opacity: 0.6;
}
.header__tasks--porcentage {
  position: relative;
  font-size: 1.2rem;
  bottom: 0.3rem;
}