
.App {
  text-align: center;
}
.loading {
  position: absolute;
  top: 8.3rem;
  color: #4D4F56;
  font-size: 1rem;
  font-weight: 100;
}
.loading::after {
  content: '';
  animation: animationLoading 0.8s linear infinite;
}


@keyframes animationLoading {
  0%{content: '.';}
  20%{content: '..';}
  40%{content: '...';}
  60%{content: '..';}
  80%{content: '.';}
  100%{content: '';}
}