$color__header: #202731;
$color__section: #4D4F56;
$color__title: #c9c9c9;
$color__button: #00ACB4;
$color__border: #787C85;


.task {

    &__item {
        position: relative;
        list-style: none;
        width: 100%;
        height: 4rem;
        border-radius: 0.7rem 0 0 0;
        font-size: 0.9rem;
        transition: all 0.3s linear;

        &--completed {
            background-color: #cffddb;
            border: 1px solid #00ff44;
            box-shadow: 0px 0px 0.5rem #383838, 0px 0px 0.2rem #16631e inset;

            &>.task--check:active {
                animation: animationCheck 0.2s linear;
            }
        }

        &--pending {
            background-color: #fff2b9;
            border: 1px solid #f5b60b;
            box-shadow: 0px 0px 0.5rem #383838, 0px 0px 0.2rem #635516 inset;

            &>.task--check:active {
                animation: animationCheck 0.2s linear;
            }
        }
        
        &--overdue {
            background-color: #fcdddd;
            border: 1px solid #ee2020;
            box-shadow: 0px 0px 0.5rem #383838, 0px 0px 0.2rem #631616 inset;

            &>.task--check:active {
                animation: animationCheck 0.2s linear;
            }
        }
        
        &--noTask {
            background-color: #ddedfc;
            border: 1px solid #2091ee;
            box-shadow: 0px 0px 0.5rem #383838, 0px 0px 0.2rem #3374a8 inset;

            &>.task--check:active {
                animation: animationCheck 0.2s linear;
            }
        }

        &--noFound {
            background-color: #fce9dd;
            border: 1px solid #ee6120;
            box-shadow: 0px 0px 0.5rem #383838, 0px 0px 0.2rem #633916 inset;

            &>.task--check:active {
                animation: animationCheck 0.2s linear;
            }
        }

    }

    &__name {
        margin-left: 2.7rem;
        padding-top: 1.4rem;
        font-family: 'Coming Soon', cursive;
        font-weight: 200;

        &--completed {
            color: #AAAAAA;     

            &::before {
                content: attr(name);
                position: absolute;
                width: max-content;
                height: 3px;
                left: 2.7rem;
                top: calc(50% - 1.5px);
                transform-origin: left;
                color: transparent;
                border-top: 1px solid #AAAAAA;
                border-bottom: 1px solid #AAAAAA;
                animation: animationNameCheck 0.4s linear both;
            }
        }

    
    }

    &__delete {
        position: absolute;
        display: flex;
        top: -0.75rem;
        right: -0.75rem;
        width: 1.5rem;
        background-color:$color__header;
        border: 1px solid $color__title;
        border-radius: 0.2rem;
        transition: all 0.3s linear;
        cursor: pointer;

        &:hover {
            border: 1px solid rgba($color: $color__button, $alpha: 0.6);
            color: $color__button;
            box-shadow: 0 0 19px 1px rgba($color: $color__button, $alpha: 0.4);

            & .task__delete--img {
                fill: $color__button;
            }   
        }

        &--img {
            fill: $color__title;    
        }  
    }
    
    &__edit {
        position: absolute;
        display: flex;
        top: -0.75rem;
        right: 1.4rem;
        width: 1.5rem;
        border: 1px solid $color__title;
        background-color:$color__header;
        border-radius: 0.2rem;
        transition: all 0.3s linear;
        cursor: pointer;

        &:hover {
            border: 1px solid rgba($color: $color__button, $alpha: 0.6);
            color: $color__button;
            box-shadow: 0 0 19px 1px rgba($color: $color__button, $alpha: 0.4);
            
            & .task__edit--img {
                fill: $color__button;
            }            
        }

        &--img {
            fill: $color__title;    
        }   
    }

    
    &--check {
        position: absolute;
        width: 1.5rem;
        margin-left: 0.5rem;
        margin-top: 1.2rem;
        transition: all 0.2s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
    
    &__date {
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        font-size: 0.7rem;
        font-weight: 600;
        padding: 0.2rem 0.5rem;
        
        &--span {
            font-size: 0.7rem;
            font-weight: 300;
            color: #000000;
        }
    }
    
}







@keyframes animationCheck {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animationNameCheck {
    0% {
        opacity: (0);
        transform: scaleX(0);
    }

    100% {
        opacity: (1);
        transform: scaleX(1);
    }
}