$color__header: #202731;
$color__section: #4D4F56;
$color__title: #c9c9c9;
$color__button: #00ACB4;
$color__border: #787C85;

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0rem;
    width: 100%;
    max-width: 912px;
    min-width: 375px;
    height: 4rem;
    background-color: $color__section;
    border-top: 2px solid $color__button;
    z-index: 2;

    &__false {
        opacity: 1;
    }

    &__true {
        opacity: 0.5;
    }
}