.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0rem;
  width: 100%;
  max-width: 912px;
  min-width: 375px;
  height: 4rem;
  background-color: #4D4F56;
  border-top: 2px solid #00ACB4;
  z-index: 2;
}
.footer__false {
  opacity: 1;
}
.footer__true {
  opacity: 0.5;
}