.todoFooter {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0rem;
    width: 100%;
    max-width: 912px;
    min-width: 375px; 
    height: 4rem;
    background-color: #272727;
    border-top: 2px solid #b3da08;
}